@font-face {
    font-family: "TT Lakes";
    src: url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    width: 512px;
    height: 196px;
}
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 234px;
  margin: 0px;
}
.swiper-wrapper{
    width: 270px;
}
.swiper-slide{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%px;
   height: 90px;
   
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 40px;
   
    
}
img {
   
    display: flex;
    align-items: center;
  
}
.title {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    width: 180px;
    height: 80px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-left: 15px;

}
.gradient{
    width: 24px;
    height: 90px;
    position: absolute;
    background: linear-gradient(to left, white,#ffffff00);
    z-index: 1000;
    right: 0;
    
    


}
@media(min-width: 768px){

}