html,
body
{
    height: 100%;

}
.swiper{ 
    width: 320px;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
}