@font-face {
    font-family: "TT Lakes";
    src: url(./fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0 auto;
    width: 512px;
    height: 196px;
}
.media{
    display: none;
}
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 234px;
  margin: 0px;
}
.swiper-wrapper{
    width: 270px;
}
.swiper-slide{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%px;
   height: 90px;
   
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 40px;
    
}
img {
   
    display: flex;
    align-items: center;
  
}
.title {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    width: 180px;
    height: 80px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-left: 15px;

}
.gradient{
    width: 24px;
    height: 90px;
    position: absolute;
    background: linear-gradient(to left, white,#ffffff00);
    z-index: 1000;
    right: 0;
}
@media(min-width: 768px){
.swiper{
    display: none;
}
.media{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   width: 800px;
   gap: 15px;
}
.media__brand__1, .media__brand__2, .media__brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    width: 224px;
    height: 72px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
}
.media__brand, .media__brand__2{
    display: none;
}
.title{
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.7px;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    width: auto;
    height: 25px;
    margin-top: 0;
}
.media__button{
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7px;
    grid-column: 1/1;
    display: flex;
    align-items: center;
    width: 150px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
}
body{
    margin: 0 auto;
    width: 800px;
    background-color: rgba(248, 248, 248, 1);
}
.media__button__2{
        font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7px;
    grid-column: 1/1;
    display: flex;
    align-items: center;
    width: 150px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    display: none;
}
@media(min-width: 1120px){
    .swiper{
        display: none;
    }
 body {
        padding: 15px;
        margin: 0;
        max-width: 1200px;
        background-color: rgba(248, 248, 248, 1);
    }
    .media{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        gap: 15px;
        margin: 0;

    }
    .media__brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 224px;
    height: 72px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    }
    .title{
        grid-column: 1/5;
    }
}